.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0em 12em 0em;
}

.fancy-hero-text > h1 {
    font-size: 10em;
    margin: 0;
    line-height: 160px;
    color: var(--secondary-color);
}

.hero-desc {
    text-align: left;
    width: 50ch;
}

.fancy-hero-text {
    text-align: center;
}

.main-hero-img {
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.big-img {
    position: absolute;
    width: 45em;
    height: 30em;
    object-fit: cover;
}

.hero-img {
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius);
    width: 230px;
    height: 330px;
    object-fit: cover;
}

.hero-img-two {
    top: 0px;
}

.hero-img-three {
    top: 0px;
}

.hero-img-four {
    bottom: -0;
}

.hero-img-five {
    bottom: 0px;
}

@media screen and (max-width: 600px){
    .fancy-hero-text > h1 {
        font-size: 6em;
        line-height: 104px;
        padding-bottom: 30px;
    }

    .hero-desc {
        width: 42ch;
    }

    .hero-img {
        width: 200px;
        height: 310px;
    }
}

@media screen and (max-width: 480px) {
    .fancy-hero-text > h1 {
        font-size: 4em;
        line-height: normal;
    }

    .hero {
        padding: 5em;
    }

    .main-wrapper {
        padding: 0 1.2em;
    }

    .hero-desc {
        width: 30ch;
    }

    .hero-img {
        width: 150px;
        height: 230px;
    }
}
