@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

html {
    --primary-color: #FDFBF7;
    --secondary-color: #1e1e1f;
    --border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

.main-wrapper {
    padding: 0 4em;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* NAV */
.logo {
    width: 90px;
}

nav > ul {
    display: flex;
    /* justify-content: space-between; */
}

nav > ul > li {
    list-style: none;
    margin-left: 0.5em;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav > ul > li > a:hover,
.login-btn,
.signup-btn,
.cta-btn {
    cursor: pointer;
}

/* BUTTONS */
.login-btn {
    list-style: none;
    text-decoration: none;
    background-color: pink;
    color: var(--primary-color);
    border-radius: 0.2em;
}

.signup-btn {
    list-style: none;
    text-decoration: none;
    background-color: #f7e0bc;
    color: var(--secondary-color);
    border-radius: 0.2em;
}

.cta-btn {
    background: pink;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 0.2em;
}

.main-btn {
    background: purple;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 0.2em;
}

.google-btn {
    border: 1px solid black;
    background: var(--primary-color);
    padding: 10px;
    font-size: 1.2em;
    border-radius: 0.2em;
}


.login-btn:hover,
.signup-btn:hover,
.cta-btn:hover,
.main-btn:hover {
    cursor: pointer;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 10em;
}

.fancy-hero-text > h1 {
    font-size: 8em;
    margin: 0;
    line-height: 145px;
    color: var(--primary-color);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.hero-desc {
    text-align: left;
    width: 50ch;
}

.fancy-hero-text {
    text-align: center;
}

.hero-img-container {
    position: relative;
}

.hero-img {
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius);
    width: 230px;
    height: 330px;
    object-fit: cover;
}

.hero-img-one {
    background-color: #666666;
    top: -106px;
    left: 128px;
    rotate: 17deg;
}

.hero-img-two {
    right: -178px;
    rotate: 7deg;
    background-color: gray;
}

.hero-img-three {
    rotate: 341deg;
    top: -154px;
    right: 157px;
    background-color: #666666;
}

.hero-img-four {
    z-index: -2;
    rotate: 15deg;
    right: 10px;
    bottom: -557px;
    background-color: #585858;
}

.hero-img-five {
    rotate: 351deg;
    bottom: -640px;
    background-color: #dddddd;
}

/* HOME PAGE */
.quote-containe {
    display: relative;
}

.quote-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: light-gray;
  }
  
  .quote {
      font-size: 2em;
  }
  
  blockquote {
    width: 40ch;
  }
  
  blockquote::before {
    content: "‘‘";
    font-family: sans-serif;
    z-index: -1;
    font-size: 10em;
    position: absolute;
    color: pink;
    opacity: 0.7;
    top: -110px;
    left: 300px;
}

  blockquote::after {
      content: "”";
      font-family: sans-serif;
      z-index: -1;
      font-size: 10em;
      position: absolute;
      color: pink;
      opacity: 0.7;
      top: -30px;
      right: 370px;
  }

.core-values {
    display: grid; 
    gap: 10px 0; 
    grid-template-areas: 
        "bigCenter bigCenter"
        "smallLeft smallRight"; 
}

.big-widget {
    grid-area: bigCenter;
    background-color: #ffd8f3;
    border-radius: var(--border-radius);
}

.small-left-widget {
    grid-area: smallLeft;
    background-color: #d8fff7;
    border-radius: var(--border-radius);;
}

.small-right-widget {
    grid-area: smallRight;
    background-color: #ffefb6;
    border-radius: var(--border-radius);;
}

.this-is-an-img {
    border-radius: var(--border-radius);
    aspect-ratio: 6;
    background: burlywood;
}

/* ACTIVITIES */
.calendar {
    outline: 2px red solid;
}
.dates {
    display: flex; 
}

.dates > div > p {
  margin: 40px 0;
}

.dates > div > p > span::after {
    content: "";
    z-index: -1;
    position: absolute;
    background: #ff7bc4;
    padding: 15px;
    border-radius: 40px;
    margin-right: 0.5em;
}

/* ABOUT */
/* TEAM */
.team-pictures {
    border-radius: 35em;
}
/* CONTACT */
input {
    background-color: #ffd8f3;
    border: none;
    padding: 10px;
}
/* GALLERY */
/* LOGIN & SIGNUP*/
form {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
}

from > input {
    width: 40px;
}

/* FOOTER */
.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.cta-footer {
    display: flex;
    flex-direction: column;
}

.footer-container > .footer-links > div > p {
    font-weight: 700;
}

.footer-container > .footer-links > div > a {
    text-decoration: none;
    color: var(--secondary-color);
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px){
    h1 {
        font-size: 2.5em;
    }

    h2 {
       font-size: 1.5em;
    }

    .main-wrapper {
        padding: 0 3em;
    }

    .dates {
        display: inline; 
    }

    .fancy-hero-text > h1 {
        font-size: 6em;
    }

    .hero-desc {
        width: 42ch;
    }

    nav > ul > li > a {
        display: none;
    }

    .hero-img {
        width: 200px;
        height: 310px;
    }

    .hero-img-one {
        left: 82px
    }

    .hero-img-three {
        top: -125px;
        right: 38px;
    }

    .hero-img-four {
        right: 24px;
        bottom: -548px;
    }

    .hero-img-five {
        bottom: -590px;
        rotate: 346deg;
    }

    .core-values {
        display: inline;
    }
}

@media screen and (max-width: 480px) {
    .fancy-hero-text > h1 {
        font-size: 4em;
        line-height: normal;
    }

    .hero {
        padding: 5em;
    }

    .main-wrapper {
        padding: 0 1.2em;
    }

    .hero-desc {
        width: 30ch;
    }

    .hero-img-container {
        position: relative;
    }

    .hero-img {
        width: 150px;
        height: 230px;
    }

    .hero-img-one {
        left: 46px;
    }

    .hero-img-two {
        right: -158px;
    }

    .hero-img-three {
        right: 8px;
    }

    .hero-img-four {
        bottom: -417px;
    }

    .hero-img-five {
        bottom: -433px;
    }
    
    .footer-container {
        display: inline;
    }
}