@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

html {
    --primary-color: #FDFBF7;
    --secondary-color: #1e1e1f;
    --border-radius: 2px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

.main-wrapper {
    padding: 0 4em;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* NAV */
.nav {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 80px;
}

.logo:hover {
    cursor: pointer;
}

nav > ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

nav > ul > li {
    list-style: none;
    margin-left: 0.5em;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--secondary-color);
}
nav > ul > a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav > ul > a > li {
    list-style: none;
}

nav > ul > li > a:hover,
.login-btn,
.signup-btn
{
    cursor: pointer;
}

/* BUTTONS */
.main-btn {
    border: 2px solid var(--secondary-color);
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 0 var(--secondary-color);
    transition: 0.2s;
}

.send-btn {
    width: 200px;
}

.main-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 0 var(--secondary-color);
}

.google-btn {
    border: 1px solid var(--secondary-color);
    background: var(--primary-color);
    padding: 10px;
    font-size: 1.2em;
    border-radius: 0.2em;
    width: 280px;
}

.submit-btn:hover,
.google-btn:hover,
.login-btn:hover
{
    cursor: pointer;
}

/* HOME PAGE */
.quote-container {
    padding-top: 39em;
    display: relative;
}

.quote-block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.quote {
    font-size: 2em;
    position: relative;
  }
  
blockquote {
    width: 40ch;
  }
  
blockquote::before {
    content: "‘‘";
    font-family: 'Frank Ruhl Libre';
    z-index: -1;
    font-size: 10em;
    position: absolute;
    color: pink;
    opacity: 0.7;
    top: -114px;
    left: -19px;
}

blockquote::after {
      content: "”";
      font-family: 'Frank Ruhl Libre';
      z-index: -1;
      font-size: 10em;
      position: absolute;
      color: pink;
      opacity: 0.7;
      top: 50px;
      right: 0;
  }

.text-container {
    width: 60ch;
}

.core-values {
    display: grid; 
    gap: 1em; 
    align-items: center;
    grid-template-areas: 
        "bigCenter bigCenter"
        "smallLeft smallRight"; 
}

.big-widget {
    border: 2px var(--secondary-color) solid;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: bigCenter;
    background-color: #ffe5f7;
    border-radius: 5px;
}

.small-left-widget {
    border: 2px var(--secondary-color) solid;
    padding: 10px;
    grid-area: smallLeft;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dff9f4;
    border-radius: 5px;
}

.small-right-widget {
    border: 2px var(--secondary-color) solid;
    padding: 10px;
    grid-area: smallRight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff6d6f5;
    border-radius: 5px;
}

.big-img-values {
    margin: 15px;
    border: 2px var(--secondary-color) solid;
    border-radius: 5px;
    width: 300px;
    height: 300px;
}

.small-img-right {
  margin: 15px;
  border: 2px var(--secondary-color) solid;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.small-img-left {
  margin: 15px;
  border: 2px var(--secondary-color) solid;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.widget-text {
  width: 20ch;
}

.cta-bottom {
    padding: 2em;
}
/* ACTIVITIES */
.dates {
    display: flex; 
}

.dates > div > p {
  margin: 40px 0;
}

.dates > div > p > span::after {
    content: " ";
    z-index: -1;
    position: absolute;
    background: #ff7bc4;
    padding: 15px;
    border-radius: 40px;
    margin-left: -21px;
}

/* ABOUT */
.about-container {
    display: grid;
    grid-gap: 10em;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "aboutLeft aboutRight"
    "aboutLeft aboutRight"; 
}

.about-row-left {
    grid-area: aboutLeft;
}

.about-row-right {
    grid-area: aboutRight;
}

.about-row-left > p  {
    width: 55ch;
}

.about-img {
    width: 30em;
}

.team {
    display: grid;
    grid-gap: 5em;
    grid-template-areas: 
    "leftRow rightRow"
    "leftRow rightRow"; 
}

.team > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-row-one {
    grid-area: leftRow;
}

.team-row-two {
    grid-area: rightRow;
}

.team-pictures {
    width: 25em;
    border-radius: 35em;
}

/* CONTACT */
label {
    margin-top: 25px;
}

input {
    width: 430px;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px;
}

label > span {
    color: red;
}

/* LOGIN & SIGNUP*/
form {
    display: flex;
    justify-content: center;
}

form > div {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
footer {
    margin-top: 4em;
    padding-top: 2em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.cta-footer {
    display: flex;
    flex-direction: column;
}

.nav > a,
.cta-footer > a  {
    text-decoration: none;
    color: var(--primary-color);
    margin: 5px 0;
}

.footer-container > .footer-links > div > a {
    text-decoration: none;
    color: var(--primary-color);
}

.footer-container > .footer-links > div > p,
.nav > p,
.cta-footer > p
{
    font-weight: 900;
}

.cta-footer > a:hover,
.nav > a:hover,
.footer-container > .footer-links > div > a:hover
{
    text-decoration: underline;
}

.copyright {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .quote {
        font-size: 1.2em;
    }

    .about-row-left > p  {
        width: auto;
    }

    .about-container,
    .core-values {
        display: inline;
    }

    .big-widget {
        flex-direction: column-reverse;
    }

    .big-img-values {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    
    .small-left-widget,
    .small-right-widget,
    .big-widget {
        margin: 20px 0;
    }

    .widget-text {
        width: 16ch;
    }

    .text-container {
        width: 50ch;
    }
}

@media screen and (max-width: 600px){
    h1 {
        font-size: 2.5em;
    }

    h2 {
       font-size: 1.5em;
    }

    .main-wrapper {
        padding: 0 3em;
    }

    .dates,
    .team,
    .footer-container
    {
        display: inline; 
    }

    nav > ul > li > a {
        display: none;
    }

    blockquote {
        width: 35ch;
    }

    blockquote::before {
        content: "‘‘";
        top: -108px;
        left: -36px;
    }

    blockquote::after {
        content: "”";
        top: 65px;
        right: -17px;
    }

    .big-widget > img{
        width: 100px;
    }

    .text-container,
    input {
        width: auto;
    }

    .about-img {
        width: 15em;
    }

    .team-pictures {
        width: 20em;
    }
}

@media screen and (max-width: 480px) {
    .quote-container {
        padding-top: 13em;    
    }

    .hero-desc {
        width: 30ch;
    }

    .main-wrapper {
        padding: 0 1.2em;
    }

     .quote {
      font-size: 1em;
      text-align: center;
    }

    blockquote {
        width: 30ch;
    }

    blockquote::before {
        content: "‘‘";
        top: -85px;
        left: -13px;
    }

    blockquote::after {
        content: "”";
        top: 71px;
        right: 10px;
    }

    .team-pictures {
        width: 15em;
    }
}

@media screen and (max-width: 310px) {
    .quote {
        font-size: 1em;
        text-align: center;
      }
  
      blockquote {
          width: 25ch;
      }
  
      blockquote::before {
          content: "‘‘";
          top: -88px;
          left: -24px;
      }
  
      blockquote::after {
          content: "”";
          top: 91px;
          right: -7px;
      }

    .team-pictures {
        width: 10em;
    }
}