html {
    --primary-color: #f8f0e3;
    --secondary-color: #1e1e1f;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper {
    padding: 0 4em;
}

/* NAV */
.logo {
    font-weight: 700;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    list-style: none;
    margin-left: 0.5em;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav > ul > li > a:hover,
.login-btn,
.signup-btn,
.cta-btn {
    cursor: pointer;
}

/* BUTTONS */

.login-btn {
    background-color: pink;
    color: var(--primary-color);
    border-radius: 0.2em;
}

.signup-btn {
    background-color: #f7e0bc;
    color: var(--secondary-color);
    border-radius: 0.2em;
}

.cta-btn {
    background: pink;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 0.2em;
}

.main-btn {
    background: purple;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 0.2em;
}

.login-btn:hover,
.signup-btn:hover,
.cta-btn:hover,
.main-btn:hover {
    cursor: pointer;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 10em;
}

.fancy-hero-text > h1 {
    font-size: 8em;
    margin: 0;
}

.hero-desc {
    text-align: left;
    width: 50ch;
}

.fancy-hero-text {
    text-align: center;
}

.quote-container {
    display: flex; 
    align-center;
    justify-content: center;
    background-color: #2d2d2d;
    padding: 10px; 
    border-radius: 5px;
}

.quote {
    color: white;
    width: 30ch;
    font-size: 2em;
}

/* HOME PAGE */
.big-widget {
    background-color: #ffd8f3;
    border-radius: 5px;
}

.small-widget-container {
    display: grid;
}

.small-left-widget {
    background-color: #d8fff7;
    border-radius: 5px;
}

.small-right-widget {
    background-color: #ffefb6;
    border-radius: 5px;
}

.calendar {
    outline: 2px red solid;
}
.dates {
    display: flex; 
}

.dates > div > p {
  margin: 40px 0;
}

.dates > div > p > span {
    background: #ffeed2;
    padding: 10px;
    border-radius: 40px;
    margin-right: 0.5em;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 600px){
    .dates {
        display: inline; 
    }

    .fancy-hero-text > h1 {
        font-size: 6em;
    }

    nav > ul > li > a {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .fancy-hero-text > h1 {
        font-size: 4em;
    }

    .hero {
        padding: 5em;
    }

    .main-wrapper {
        padding: 0 2em;
    }

    .hero-desc {
        width: 30ch;
    }

    .hero-img-container {
        position: relative;
    }

    .hero-img {
        position: absolute;
        z-index: -1;
        border-radius: 5px;
        width: 190px;
        height: 300px;
    }

    .hero-img-one {
        right: 100px;
        background-color: #666666;
    }

    .hero-img-two {
        right: 150px;
        background-color: gray;
    }

    .hero-img-three {
        right: 150px;
        rotate: 30deg;
        background-color: #666666;
    }

    .hero-img-four {
        rotate: 60deg;
        background-color: #585858;
    }

    .hero-img-five {
        rotate: 6deg;
        background-color: #dddddd;
    }
}